Repository DestinE-Climate-DT/Climate-DT-catalog, pull requests merged in 2025-02, with the labels that each got.

#129 Update operational paths
  catalogs/climatedt-e25.1/machine.yaml
  catalogs/obs/machine.yaml
Labels: Observations, ready

#123 Added NEMO development exp to generate grids for O25.1
  catalogs/mn5-phase2/catalog.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/a23s.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/a245.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/a248.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/main.yaml
Labels: NEMO

#131 a24z on mn5-phase2 for hpz9 eORCA12 grid generation
  catalogs/mn5-phase2/catalog/IFS-NEMO/a24z.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/main.yaml
Labels: IFS, NEMO, MN5, ready

#132 Fix typo in experiments description, mn5-phase2 fixed
  catalogs/mn5-phase2/catalog/IFS-NEMO/a23s.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/a245.yaml
  catalogs/mn5-phase2/catalog/IFS-NEMO/a248.yaml
Labels: MN5, ready

#133 first workflow implementation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-catalogs.yaml
  README.md
Labels: ready to merge

#134 Bridge test source
  catalogs/ci/catalog/IFS/test-fdb.yaml
Labels: ready to merge

#135 Add new monthly-2d source and update monthly-3d for FESOM hpz3 source
  catalogs/ci/catalog/FESOM/hpz3.yaml
Labels: FESOM, ready to merge
